html,body{
  height: 100%;
}
#forma {
	animation-duration: 1.5s;
	animation-name: Animation;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #3b3f3f;
	max-width: 600px;
	width: 100%;
	padding: 20px;
	border-radius: 30px;
	color:#fc8516;
  }
  
  #forma.open {
	display: block;
  }
  
  .popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #6d6d6d80;
	transition: all 0.5s ease;
	display: none;
  }
  
  .popup_open {
	display: block;
  }
  @keyframes Animation {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  .bttn
  {
	
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 40px;
  }
  .bttn1
  {
	background-color: #3a3732;
	color:#fc8516;
  }
  .sendbtn
  {
	width: 100%;
	background: #fc8516;
  }
 @media screen and (max-width: 768px){
	.forma {
	  width: auto;
	}
  }
